/* #navfix{
	position: absolute;
	top: 170px;	
	width: 100%;
	z-index: 10;
    background-color: transparent;
} */


.custom{
	background: transparent;
  }
  .customdeb{
	display: flex;
	justify-content: flex-end;
  }
  @media(max-width:600px){
	.custom{
	  background: black;
	  text-align: center;
	} 
  .customdeb{
	display: flex;
	justify-content: flex-start;
	}
  .customdeb ul  {
	width: 100%;
  }
  .customdeb ul li{
	width: 100%;
	padding: 7px 0 1px 0;
	border-bottom: 1px solid rgba(153, 153, 153, 0.358);
  }
  }